---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-staging
  namespace: apisix
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: edwins@cyverse.org
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - http01:
          ingress:
            ingressClassName: nginx
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-prod
  namespace: apisix
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: edwins@cyverse.org
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          ingress:
            ingressClassName: nginx

