---
apiVersion: v1
kind: Secret
metadata:
  name: apisix-config-secrets
  namespace: apisix
stringData:
  CHATUR_OAUTH2_CLIENT_ID: {{ CHATUR_OAUTH2_CLIENT_ID }}
  CHATUR_OAUTH2_CLIENT_SECRET: {{ CHATUR_OAUTH2_CLIENT_SECRET }}
  CHATUR_OAUTH2_DISCOVERY: {{ CHATUR_OAUTH2_DISCOVERY }}
  CHATUR_OAUTH2_REALM: {{ CHATUR_OAUTH2_REALM }}
  CHATUR_OAUTH2_SECRET: {{ CHATUR_OAUTH2_SECRET }}
  CHATUR_API_KEY: {{ CHATUR_API_KEY }}
